.mainContent{
  display: flex;
  background-color: #f1f1f1;
}

.content {
  flex-grow: 100;
  height: 100vh;
  float: right;
  /* border: 2px black solid; */
  width: 86%;
  overflow: hidden;
}

.mainContent{
  display: flexbox;
}

#chart_div{
  width: 80%;
  height: 60vh;
  float: left;
  margin-left: 13%;
  margin-top: 2%;
  height: 75vh;
}
.content h1{
  text-align: center;
}